<div class="row">
  <div class="col-xs-10">
    <br>
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">          
          <input type="text" id="textoPush" class="form-control" 
                  [value]="pushMessage" (input)="pushMessage = $event.target.value" placeholder="Mensagem">
        </div>
        <div class="col-xs-2">
          <button class="btn btn-primary" 
            type="button" (click)="onSendPushes()">
            Enviar Push
          </button>
        </div>
        <ng2-toasty></ng2-toasty>
      </div>
    </form>
  </div>
</div>